body{
    background-image: url(../img/playadefondo.jpg);
    height: 100vh;
    width: 100vw;
    /* min-height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;   
    background-attachment: fixed;  
    backdrop-filter: blur(3px); 
}


.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
     
}

.login-wrapper {
    border-radius: 18px;
    overflow: hidden;
    width: 280px !important;
    padding: 0px 0px 10px 45px;
    background: white;
    border: solid thin #efefef;
    margin-bottom: 80px;
    filter: blur(0px);
    
}
.mt-10{
    margin-top: -20px;
}
.text-center {
    text-align: center;
}

.text-left {
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.form-control {
    margin-bottom: 15px;
    padding: 9px 15px;
    height: auto !important;
    letter-spacing: 0 !important;
    border-radius: 16px;
}



.signup {
    background: #DE5628;
    border: solid thin #f2f2f2;
    border-radius: 28px;
    padding: 12px 62px;
    color: white;
}